.auth {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  top: 0;
  width: 100%;
  min-height: 99vh;
}
.authentication {
  color: white;
  width: 60%;
  margin: auto;
  border: 3px solid #73ad21;
  align-items: center;
}
.authType {
  display: flex;
}

.authType span {
  flex: 1; /* Distribute available space equally */
  border: 1px solid gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.authType span.signIn {
  border-top-left-radius: 10%;
}
.authType span.signUp {
  border-top-right-radius: 10%;
}

.authType span.active {
  background-color: #007bff;
}

.authType span:hover {
  cursor: pointer;
}
